<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 취미~</title>
</head>
<body>
    <div>
        <section>
            <h2 align="center">나의 취미는...</h2>
            <h4 class="major" align="center">저에 대해 알아보세요~</h4>
            <section>
                <div style="border:0px solid; padding:10px; background-color: yellow;">
                </div>
            </section>
            <div style="border:0px solid; padding:10px;">
                <ul>
                    <li>음식분야🥘: 마라탕 맛집 찾기, 노포감성 맛집 찾아헤매기</li>
                    <li>운동분야⚽️: 수영, 산책, (가끔)등산</li>
                    <li>기타등등🏚️: mbti 사주 타로 과몰입, 블로그, 필름카메라 디카로 사진촬영 등등...</li>
                    <li>노래/드라마🎧: 하드락 제외 모두 좋아함 / 미드 <프렌즈> 짱팬</li>
                    <li>이외에 모든 취미에 개방적입니다~ 모든 취미 환영~</li>
                </ul>
            </div>
        </section>
        <section>
            <div style="border:0px solid; padding:10px; background-color: yellow;">
            </div>
        </section>
    </div>
    <script src="juen.js"></script>
</body>
</html>